# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos
*.sqlite
*.db

# Producción
dist/
build/
dist-electron/
dist-electron2/

# Environment
.env
.env.local
.env.production

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log
